// Define variables for your color scheme

// For example:
$red: #a00104;
$blue: #0670e9;
$yellow: #f7d438;
$orange: #f77606;
$green: #97BB7F;
$gray: #696969;
$white: #FFFFFF;
$light-gray: #F2F2F2;
$black: #000000;
