<div class="home-container">
  <div class="search-bar-navi">
    <%= form_tag products_path, method: :get, :class=>"search_bar" do %>
      <%= text_field_tag :address,
        params[:address],
        placeholder: "Where are you going?",
        class: "address-search form-control mr-sm-2"%>
      <div class="input-group-btn ml-3">
        <%= submit_tag "Search", class: "btn btn-primary " %>
      </div>
    <% end %>
  </div>
</div>
