.edit-box {
  width: 75px;
  height: 18px;
  border: 1px solid #999;
  font-size: 14px;
  color: #696969;
  background-color: #eee;
  border-radius: 5px;
  margin-top: 5px;
  /*box-shadow: 4px 4px #ccc;*/
  }