.product-img {
  object-fit: cover;
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.nutriscore-img {
  width: 75px;
  height: 40px;
  object-fit: cover;
}

.fa-shopping-basket {
  color: #97BB7F;
}
.fa-shopping-basket:hover {
  color: #6f9b52;
}
