* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  height: 60px;
  background: $primary;
  position: sticky;
  width: 100%;
  z-index: 4;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 40px;
  border-radius: 50%;
  margin-left: 15px;
  border: 1px solid white;
}

.logo {
  height: 40px;
}

.fas,  {
  margin-right: 15px;
  cursor: pointer;
  z-index: 3;

  &:hover {
    opacity: 50%;
  }
}

.nav-links {
  position: fixed;
  top: 60px;
  right: 0;
  list-style: none;
  height: 100vh;
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: $primary;
  clip-path: circle(0px at 100% 0%);
  -webkit-clip-path: circle(0px at 100% 0%);
  transition: all 1s ease-out;
  pointer-events: none;

  li {
    position: relative;
    right: 0;

    a {
      color: white;
      text-decoration: none;
      font-size: 25px;
    }
  }
}

.nav-links.open {
  clip-path: circle(300px at 100% 0%);
  -webkit-clip-path: circle(300px at 100% 0%);
  pointer-events: all;
}

.grocery-counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 10px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: $red;
}

@media screen and (max-width: 768px) {
  .nav-links {
    justify-content: space-around;
    align-items: center;
  }

  .nav-links.open {
    clip-path: circle(1000px at 100% 0%);
    -webkit-clip-path: circle(1000px at 100% 0%);
  }
}
