.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  height: 55px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-user-icon img {
  width: 40px;
  border-radius: 50%;
}
