.product-list form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.p-name:hover {
  text-shadow: 2px 2px 4px #7b877e;
  cursor: pointer;
}

.product-img:hover {
  cursor: pointer;
}

